vaadin-horizontal-layout {
	background-color: #ffffff;
}

vaadin-login-form {
	border: 1px solid #cccccc;
}

.header {
	background-color: #fdfdfd;
	border-bottom: 1px solid #eaeaea;
}

.header-logo {
	width: 123px;
	height: 93px;
}

.footer {
	background-color: #3e3e3e;
}

.footer-linux-logo {
	width: 50px;
	height: 50px;
}

.footer-android-logo {
	width: 50px;
	height: 50px;
}

.footer-java-logo {
	width: 50px;
	height: 50px;
}

.left-border {
	border-left: 1px solid #cccccc;
}
